body {
    background: #526d99;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

#main_container{
    margin-right: 0;
    margin-left: 0;
}

#control_container {
    height: 100vh;
    width: 30%;
    background: #eaeaea;
    border-left: 1px solid #c5c5c5;
}

.tb_frame {
    width: 70%;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
    box-sizing: content-box;
}

input {
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}

#response_table {
    width: 100%;
}

#response_table tr:nth-child(even){background-color: #f2f2f2;}

#response_log_header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    display: block;
    color: var(--dark);
    font-weight: bold;
    margin-left: 60px;
    margin-right: 60px;
}

#controls_header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    color: var(--dark);
    font-weight: bold;
    margin: 50px 21% 20px;
    border-bottom: 1px solid var(--dark);
}

.response {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;

}

#response_table_container {
    margin: 0 60px;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #bdbdbd;
    border-top: 1px solid black
}

.datetime {
    display: inline-block;
    margin-right: 10px;
    color: #5f5f5f;
    font-style: italic;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
}

#experiment_name {
    text-align: center;
    background-color: #171a1d;
    color: #fff;
    margin: 0;
    height: 64px;
    padding: 13px 16px;
    font-size: 1.9em;
    font-family: 'Roboto', 'Noto', sans-serif;
    box-shadow: 0 0 5px 6px rgba(0,0,0,0.25)
}

.input_form{
    margin: 0 20%;
}

#config_table {
    width: 30%;
    margin: 30px auto 20px auto;
    text-align: center;
    color: var(--dark);
}

#config_table th {
    border-bottom: 1px solid black;
}

#config_table td {
    width: 50%;
    padding: .3em .5em;
    text-align: left;
}